body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;
  text-decoration: none !important;
  &:visited {
    color: #fff;
  }

  &:hover {
    color: #666;
    background-color: #fff;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  text-align:justify;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


/*Black List Custom CSS*/
h1 {
    height: 12px;
    vertical-align: middle;
    border-bottom: solid #56decf;
    padding: 20px !important;
    width: 142px;
    color: #868686;
    font-size: 20px;
}

#header{ 
  color: white;
  font-size: 15px;
  vertical-align: middle;
  height: 34px;
  padding: 10px;
  border-radius: 7px;
  background: linear-gradient(to right, black , navy);
}

#header span{
  position: relative;
  top: -6px;
  left: 11px;
}

.black_list_title{
  margin: 6px 0px;
}

.black_list_title span{
  width: 75px;
  padding: 3px;
  margin: 10px 0px 5px 0px;
  border-radius: 10px;
  background-color: #30c191;
  text-align: center;
  color: white;
}

#black_list_th {
  border: solid 0.1em lightgray;
  border-spacing: 0px !important;
  width: 100%;
}

#black_list_th thead {
  padding: 10px 5px 5px 10px;
  background-color: lightgray;
}

#black_list_th tbody td{
  padding: 5px;
  border-bottom: solid 0.1em lightgray;
  text-align: center;
}

.button1 {
  background-color: #30c191; 
  border: 2px solid #30c191;
  border-radius: 3px;
  padding: 2px;
  color: white;
  font-size: 11px;

  text-decoration: none !important;
  &:visited {
    color: #fff;
  }

  &:hover {
    color: #666;
    background-color: #fff;
  }
}

.button2 {
    background-color: #808080;
    border: 2px solid #8a8680;
    border-radius: 3px;
    padding: 5px;
    color: white;
}

input[type="submit"] {
    background-color: #8a8680; 
    border: 2px solid #8a8680;
    border-radius: 3px;
    color: white;
    padding: 5px;
    cursor: pointer;
    text-decoration: none !important;
    &:visited {
      color: #fff;
    }

    &:hover {
      color: #666;
      background-color: #fff;
    }
}

#inputWithForm input[type="text"] {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

input:focus, input:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
 border-radius: 5px
}

input::-webkit-input-placeholder {
 font-family: 'roboto', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
 color: #1abc9c;
 font-size: 11px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}

select {
  padding: 2px;
  border-radius: 5px;
  font-size: 11px;
}

tr.hilite { 
  background: #f1f1f1; 
} 