<h1>거래내역 수정</h1>

<%= render 'form', transaction: @transaction %>
<button class="button1"><%= link_to '저장', @transaction %></button>
<button class="button1"><%= link_to '목록', transactions_path %></button>
