@CHARSET "EUC-KR";

body{
	margin : 0px !important;
}

a.no-uline {text-decoration: none}

#all_wrapper, #list_middle_main_appr_table{
	width : 100%;
	height : 100%;
}

#list_middle_main{
	width : 860px;
	margin : 0 auto;
}

#list_middle_header{
   width: 100%;
    height: 70px;
    margin-bottom: 20px;
    padding: 2px;
    color: white;
    position: inherit;
}

#list_middle_header_1{
	width: 50%;
	background-color: #d2d2d2;
	text-align: center;
    background-repeat: no-repeat;
    background-size: 231px;
    background-position-y: center;
}

#list_middle_header_2{
	width: 30%;
	background-color: #002540;
	color:white;
}


#list_middle_header_3{
	width: 10%;
	background-color: #002540;
	color:white;
}

#list_middle_header_4{
	width: 10%;
	background-color: #002540;
	color:white;
}


#list_middle_main_title{

}


#list_middle_main_search{
	width:100%;
	height: 50px;
}

#list_middle_main_search_filter{
	float:left;
	width:70%;
	height: 30px;
}

#list_middle_main_search_filter input{
	width:100px;
	float:left;
	height:29px;
	margin-right: 15px;
}


#list_middle_main_search_filter label{
	float:left;

}

#list_middle_main_search_button{
	width:30%;
	float:right;

}

#list_middle_main_search_button button{
	float:right !important;
}



#list_middle_main_table{
	width : 100%;
	height : 100%;
    margin-top: 10px

}

#list_middle_main_table td{
	border-right: 1px #e6e6e6 solid;
	border-bottom: 1px #e6e6e6 solid;
	padding: 8px;
}

#list_middle_footer{
	margin-top: 10px;
    width: 860px;
    margin: 0 auto;
    padding: 30px;
}

#list_middle_footer_table{
	width : 100%;
	height : 100%;

}


#list_middle_main_appr_wrapper{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.list_td_content label{
	text-align: left;
	font-size: 8px;
}

.page_button_wrapper{
	width: 230px;
	margin :  0 auto;
}

.page_button_wrapper label{
	   width:10px;
	   height:20px;
	   float:left;
	   background-color: #d4d4d4; /* Green */
	   padding: 8px 12px;
	   margin-left:3px;
}

.page_button:hover, .page_arrow:hover{
	  background-color: yellow !important;
	  cursor:  pointer;
}

.selected_page_button{
	  background-color: #36a2e4 !important;
}


.search_label{
	background-color: #699c2c; /* Green */
	border-radius: 2px;
	color:white;
	 padding: 8px 16px;
	 margin-right: 5px;
}

.button {
    background-color: #36a2e4; /* Green */
    border: none;
    color: white;
    float:right;
    margin-left:10px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
}


.button:hover{
  background-color: red; /* Green */
  cursor: pointer;
}

.td_title{
	width :114px;
	background-color: #87cefa; /* Green */
	border-radius: 3px;
	color : white;
	padding:3px 6px;
	text-align: center;
}

.list_td_main_title{
	background-color: #868686;
	border-radius: 3px;
	color : white;
	padding:3px 6px;
	text-align: center;
}


.list_td_content{
	text-align: center;
}


h1,h2,h3{
	padding-left: 10px;
	margin : 0 auto;
}

.list_middle_main_appr{
    background-color: #dcdcdc;
    padding: -2px;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 2px dotted #0866a0;
    cursor: pointer;
}

.list_middle_main_appr_selected{
	background-color: #eaec67;
	border: 2px solid #848420;
}

.clicked_contract_key label:hover, .clicked_contract_no label:hover{
	cursor : pointer;
	color : red;
}
